<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-search-input/paper-search-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="paper-input-finder-sit">
  <template>
    <style>
      :host {
        display: block;
      }
      .button {
            text-align: center;
          }
    </style>
    
    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
        .colors {
          --search-background-color: #518ac0;
          --search-text-color: #518ac0;
          --search-label-color: white;
          --search-width: 500px;
          --search-border-width: 2px;
        }
      </style>
    </custom-style>
    <br>
    <paper-search-input id="colors" class="colors"></paper-search-input>
    </br>
    <div class="button">
      <paper-button raised class="button-search" on-click="_search">Search</paper-button>
    </div>
  </template>

  <script>
    class PaperInputFinderSit extends Polymer.Element {
      static get is() { return 'paper-input-finder-sit'; }
      static get properties() {
        return {
        };
      }
      _search(e){
        const data = this.$.colors.value;
        const event = new CustomEvent('search', {
          bubbles : true,
          composed : true,
          detail : {
            data
          }
        });
        this.dispatchEvent(event);
      }
    }

    window.customElements.define(PaperInputFinderSit.is, PaperInputFinderSit);
  </script>
</dom-module>
